{"openapi":"3.1.0","info":{"title":"Amelia REST API","description":"The Amelia REST API allows for client applications to connect to Amelia and hold conversations using simple REST commands and webhookUrls or polling.","contact":{"name":"Amelia","url":"https://amelia.ai/"},"version":"7.3.3.2"},"servers":[{"url":"https://partners.amelia.com/AmeliaRest","description":"Generated server url"}],"tags":[{"name":"AmeliaChat","description":"APIs for managing Topics"},{"name":"AgenticMetrics","description":"Analytics APIs for cognitive agent performance"}],"paths":{"/api/v1/admin/language-overrides/{id}":{"get":{"tags":["Language-Overrides-Api"],"summary":"Get Language Override","description":"Retrieves a single Language Override by its unique identifier.","operationId":"get","parameters":[{"name":"id","in":"path","description":"Unique identifier of the Language Override","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Language Override found","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LanguageOverrideListModel"}}}},"404":{"description":"Language Override not found","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"Session expired or invalid","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected server error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"put":{"tags":["Language-Overrides-Api"],"summary":"Update Language Override","description":"Updates an existing Language Override. The ID in the body must match the path parameter.","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageOverrideModel"}}},"required":true},"responses":{"200":{"description":"Language Override successfully updated","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LanguageOverrideListModel"}}}},"400":{"description":"Validation error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"Session expired or invalid","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected server error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"delete":{"tags":["Language-Overrides-Api"],"summary":"Delete Language Override","description":"Deletes an existing Language Override by its unique identifier.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Language Override successfully deleted","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"404":{"description":"Language Override not found","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"Session expired or invalid","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected server error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/mcp-integrations":{"get":{"tags":["MCP-Integration-Api"],"summary":"Get MCP Integrations","description":"Obtains the list of MCP Integrations in a particular domain, optionally filtered by name","operationId":"getMcpIntegrations","parameters":[{"name":"domainId","in":"query","description":"The primary key of the domain containing the MCP Integrations","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","description":"Name of the MCP Integrations to filter against","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"A search term name to filter against","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"The zero-indexed page of results to return","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"The size of each results page","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"A list of {field},{dir} sort directives, where dir can be asc or desc","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Get a list of MCP Integrations","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/McpIntegrationSearchResults"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"put":{"tags":["MCP-Integration-Api"],"summary":"Update MCP integration","description":"Updates an MCP integration","operationId":"updateMcpIntegration","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}},"required":true},"responses":{"200":{"description":"Updates an MCP integration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["MCP-Integration-Api"],"summary":"Create MCP integration","description":"Creates an MCP integration.","operationId":"createMcpIntegration","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}},"required":true},"responses":{"200":{"description":"Create an MCP integration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/mcp-integrations/sync/{mcpIntegrationId}":{"put":{"tags":["MCP-Integration-Api"],"summary":"Sync MCP Integration","description":"Sync capabilities of an MCP integration","operationId":"syncMcpIntegration","parameters":[{"name":"mcpIntegrationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Sync capabilities of an MCP integration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/mcp-integrations/ping/{mcpIntegrationId}":{"put":{"tags":["MCP-Integration-Api"],"summary":"Ping MCP Integration","description":"Ping to check connectivity status of an MCP integration","operationId":"pingMcpIntegration","parameters":[{"name":"mcpIntegrationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Ping to check connectivity status of an MCP integration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/McpIntegrationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/functions":{"get":{"tags":["Cognitive-Function-Api"],"summary":"Get Cognitive Functions","description":"Obtains the list of Cognitive Functions in a particular domain, optionally filtered by name","operationId":"getFunctions","parameters":[{"name":"domainId","in":"query","description":"The primary key of the domain containing the cognitive functions","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","description":"Name of the functions to filter against","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"A search term name to filter against","required":false,"schema":{"type":"string"}},{"name":"includeFromDomainHierarchy","in":"query","description":"Boolean flag to indicate domain hierarchy search","required":false,"schema":{"type":"boolean","default":false}},{"name":"page","in":"query","description":"The zero-indexed page of results to return","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"The size of each results page","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"A list of {field},{dir} sort directives, where dir can be asc or desc","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Get a list of cognitive functions","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CognitiveFunctionSearchResults"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"put":{"tags":["Cognitive-Function-Api"],"summary":"Update Cognitive Function","description":"Updates a Cognitive function","operationId":"updateFunction","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CognitiveFunctionModel"}}},"required":true},"responses":{"200":{"description":"Updates a cognitive function","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CognitiveFunctionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Cognitive-Function-Api"],"summary":"Create Cognitive Function","description":"Creates a Cognitive Function.","operationId":"createFunction","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CognitiveFunctionModel"}}},"required":true},"responses":{"200":{"description":"Create a Cognitive Function","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CognitiveFunctionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/functions/bulk-update":{"put":{"tags":["Cognitive-Function-Api"],"summary":"Bulk Update Cognitive Functions","description":"Updates list of Cognitive functions in bulk","operationId":"bulkUpdateFunctions","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CognitiveFunctionBulkUpdateRequestModel"}}},"required":true},"responses":{"200":{"description":"Updates list of cognitive functions in bulk","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/agentic/agents/revisions":{"put":{"tags":["Cognitive-Agent-Api"],"summary":"Update Cognitive Agent Revision","description":"Updates a Cognitive agent revision","operationId":"updateAgentRevision","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CognitiveAgentRevisionModel"}}},"required":true},"responses":{"200":{"description":"Updates a cognitive agent","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CognitiveAgentRevisionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Cognitive-Agent-Api"],"summary":"Create Cognitive Agent Revision","description":"Creates a Cognitive Agent Revision. Creates a new Cognitive Agent if agent ID is not provided","operationId":"createAgentRevision","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CognitiveAgentRevisionModel"}}},"required":true},"responses":{"200":{"description":"Create a Cognitive Agent Revision","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CognitiveAgentRevisionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/push/notification/{id}":{"post":{"tags":["Push-Notification-Api"],"summary":"Send push notification","description":"Send a notification message to a user through the specified  channel and integration id","operationId":"pushNotificationToChannel","parameters":[{"name":"id","in":"path","description":"The id of gateway integration to use to send the notification","required":true,"schema":{"type":"string"},"example":"af1f8b71-b398-46cd-8e03-b39b4fd08579"},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationApiRequestModel"}}},"required":true},"responses":{"200":{"description":"The notification has been received, check the response for result status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationApiResponseModel"}}}},"400":{"description":"A status and message error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestResponse"}}}},"403":{"description":"A status and message error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/oauth/token":{"post":{"tags":["Oauth-Api"],"summary":"Login","description":"Login to Amelia via oauth, using the provided credentials and returns a token for further access to this session","operationId":"getOauthAccessTokenForm","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"grant_type":{"type":"string"},"client_id":{"type":"string"},"client_secret":{"type":"string"}},"required":["client_id","client_secret","grant_type"]}},"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OAuthClientCredentialsCommand"}}},"required":true},"responses":{"201":{"description":"Successful Token Response","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OauthAccessTokenResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"403":{"description":"A response with a null token, indicating user has no permission","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ForbiddenHostException"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/license":{"get":{"tags":["License-Api"],"summary":"Get License","description":"Gets the current License for an Amelia instance","operationId":"getLicense","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"metadata about the validity of an export","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LicenseViewModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["License-Api"],"summary":"Install License","description":"Installs a License one an Amelia instance","operationId":"installLicense","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"metadata about the validity of an export","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LicenseViewModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/integrations/execute":{"post":{"tags":["Integration-User-Api"],"summary":"Execute an Integration Flow","description":"Executes an Integration Flow","operationId":"executeIntegrationFlow","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteIntegrationFlowRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ExecuteIntegrationFlowResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/start":{"post":{"tags":["Conversation-Api"],"summary":"Start Conversation","description":"Starts a conversation that requires manual startup","operationId":"startConversation","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Successful Conversation start","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/send":{"post":{"tags":["Conversation-Api"],"summary":"Send","description":"Send a message with attributes to Amelia","operationId":"send","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseMessageToAmelia"}}},"required":true},"responses":{"200":{"description":"Message successfully submitted","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SayResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/say":{"post":{"tags":["Conversation-Api"],"summary":"Say","description":"Say something to Amelia","operationId":"say","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"messageText","in":"query","description":"The text to say to Amelia","required":true,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Message successfully submitted","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SayResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/poll":{"post":{"tags":["Conversation-Api"],"summary":"Poll","description":"Poll for messages, immediately returning any available messages. Polling a webhook conversation will always return an empty list.","operationId":"poll","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Messages successfully returned","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"description":"A parent indicating any of the specific MessageFromAmelia types may be in this place"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/longpoll":{"post":{"tags":["Conversation-Api"],"summary":"Long Poll","description":"Long Poll for Messages, flushing on message type containing textor ready messages, or a maximum time duration.  Calling long polling on a webhook conversation will always return an empty list after the maximum duration","operationId":"longPoll","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Messages successfully returned","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"description":"A parent indicating any of the specific MessageFromAmelia types may be in this place"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/disconnect":{"post":{"tags":["Conversation-Api"],"summary":"Disconnect","description":"Disconnect from the conversation with Amelia.  Favor using close.","operationId":"disconnectConversation","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Conversation disconnected","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/content/upload":{"post":{"tags":["Conversation-Api"],"summary":"Upload","description":"Uploads a single file to Amelia","operationId":"upload","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fileName","in":"query","description":"The name of the file to store","required":true,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","format":"binary"}},"required":["content"]}}}},"responses":{"200":{"description":"The upload has been received"},"400":{"description":"A status and message error, with optional other fields","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/content/upload/done":{"post":{"tags":["Conversation-Api"],"summary":"Finish Upload","description":"Tells Amelia that previous uploads are finished, and ok to save","operationId":"finishUpload","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"The upload has been confirmed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SayResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/content/upload/cancel":{"post":{"tags":["Conversation-Api"],"summary":"Cancel Upload","description":"Tells Amelia that previous uploads should be cancelled","operationId":"cancelUpload","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"The upload has been received","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SayResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationSessionId}/close":{"post":{"tags":["Conversation-Api"],"summary":"Close","description":"Close and disconnect the conversation with Amelia","operationId":"closeConversation","parameters":[{"name":"conversationSessionId","in":"path","description":"The conversation with which to interact","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseConversationParams"}}}},"responses":{"200":{"description":"Conversation ended","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/{conversationId}/push-to-agent":{"post":{"tags":["Conversation-Api"],"summary":"Push existing conversation to an agent","description":"Pushes an existing conversation to a agent","operationId":"pushExistingConversationToAgent","parameters":[{"name":"conversationId","in":"path","description":"The conversation to push","required":true,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushExistingConversationToAgentCommand"}}},"required":true},"responses":{"201":{"description":"Successful Conversation push"},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/push-new-with-amelia":{"post":{"tags":["Conversation-Api"],"summary":"Push New Conversation with Amelia","description":"Pushes a new conversation to a user with amelia","operationId":"pushNewConversationWithAmelia","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Command"}}},"required":true},"responses":{"201":{"description":"Successful Conversation push","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/push-new-with-agent":{"post":{"tags":["Conversation-Api"],"summary":"Push New Conversation with Agent","description":"Pushes a new conversation to a user with an agent","operationId":"pushNewConversationWithAgent","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Command"}}},"required":true},"responses":{"201":{"description":"Successful Conversation start","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/pickup":{"post":{"tags":["Agent-Api"],"summary":"Pickup","description":"Picks up a conversation with a user.  Note the {conversationId} path is deprecated","operationId":"pickup","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickupCommand"}}},"required":true},"responses":{"200":{"description":"Successful Conversation pickup","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/observe":{"post":{"tags":["Agent-Api"],"summary":"Observe","description":"Observes up a conversation with a user.  Note the {conversationId} path is deprecated","operationId":"observe","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnserveCommand"}}},"required":true},"responses":{"200":{"description":"Successful observe requests","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the sessionor conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/conversations/new":{"post":{"tags":["Conversation-Api"],"summary":"New Conversation","description":"Begins a new conversation with a logged in user on a given domain","operationId":"newConversation","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewConversationCommand"}}},"required":true},"responses":{"201":{"description":"Successful Conversation start","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ConversationSessionResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically that the session does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth-Api"],"summary":"Logout","description":"Logs out the current session","operationId":"logout","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"204":{"description":"Successful Logout","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LogoutResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LogoutResponse"}}}}}}},"/api/v1/auth/logout/allSessionsForUser":{"post":{"tags":["Auth-Api"],"summary":"Logout User Sessions","description":"Logs out all API sessions and tokens for this user","operationId":"logoutAllSessions","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForceLogoutCommand"}}},"required":true},"responses":{"204":{"description":"Successful Logout","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LogoutResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"201":{"description":"Created","content":{"application/json;charset=UTF-8":{"schema":{"type":"string"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth-Api"],"summary":"Login","description":"Login to a specific Amelia as a given user with a given password  and returns a token for further access to this session","operationId":"loginUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginCommand"}}},"required":true},"responses":{"201":{"description":"Successful Login","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"403":{"description":"An error if accessing this Amelia is denied","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ForbiddenHostException"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/auth/anonymousLogin":{"post":{"tags":["Auth-Api"],"summary":"Anonymous Login","description":"Login to a specific Amelia as an anonymous user  and returns a token for further access to this session.  Not supported in Clustered Rest Gateway Instances.","operationId":"loginAnonymously","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnonymousLoginCommand"}}},"required":true},"responses":{"201":{"description":"Successful Login","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"403":{"description":"An error if accessing this Amelia is denied","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ForbiddenHostException"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/aiops/token/get":{"post":{"tags":["Aiops-Api"],"summary":"Get Aiops Token","description":"Request from a token for use with AiOps for a given user and password","operationId":"loginUser_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginCommand"}}},"required":true},"responses":{"201":{"description":"Successful Token Response","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AiopsAccessTokenResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"403":{"description":"A response with a null token, indicating user has no permission","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AiopsAccessTokenResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/agent/question":{"post":{"tags":["Agent-Conversation-Api"],"operationId":"saveOrUpdateAgentQuestion","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentQuestionResponseModel"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AgentQuestionResponseModel"}}}}}}},"/api/v1/agent/conversations/{conversationId}/response":{"post":{"tags":["Agent-Conversation-Api"],"operationId":"calculateConversationResolutionSummary","parameters":[{"name":"conversationId","in":"path","description":"The conversation ID to get suggested responses","required":true,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentResponseSuggestionModel"}}}}}}},"/api/v1/admin/training/predict/domain/{domainId}":{"get":{"tags":["Predict-Api"],"summary":"Predict All","description":"Apply intents, entities, and classifiers to make NLU predictions for an utterance in a given domain.  Parameters should be encoded as per url query specification. Intended for testing purposes and not during conversations.","operationId":"getPredictions","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"utterance","in":"query","description":"The utterance on which to make predictions","required":true,"schema":{"type":"string"}},{"name":"promptEntityId","in":"query","description":"Optional primary key of an entity to emulate Amelia's behavior on an \"ask for the slot ...\" task","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"intentId","in":"query","description":"Optional primary key of an intent to be used to constrain entity predictions, such as for testing the scoping of entities to intents when no intent classifier is available.","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"usePredictedDomain","in":"query","description":"Optional, determines whether to use predicted domain or not during FAQ prediction","required":false,"schema":{"type":"boolean"}},{"name":"language","in":"query","description":"Optional language to signal translation should be done to the selected domain's language. (ex. 'ja' or 'ja_JP')","required":false,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"NLU predictions for the input utterance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluPredictionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Predict-Api"],"summary":"Predict All","description":"Apply intents, entities, and classifiers to make NLU predictions for an utterance in a given domain. Intended for testing purposes and not during conversations.","operationId":"postPredictions","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"utterance":{"type":"string","description":"The utterance on which to make predictions"},"promptEntityId":{"type":"string","format":"uuid","description":"Optional primary key of an entity to emulate Amelia's behavior on an \"ask for the slot ...\" task"},"intentId":{"type":"string","format":"uuid","description":"Optional primary key of an intent to be used to constrain entity predictions, such as for testing the scoping of entities to intents when no intent classifier is available."},"usePredictedDomain":{"type":"boolean","description":"Optional, determines whether to use predicted domain or not during FAQ prediction"},"language":{"type":"string","description":"Optional language to signal translation should be done to the selected domain's language. (ex. 'ja' or 'ja_JP')"}},"required":["utterance"]}}}},"responses":{"200":{"description":"NLU predictions for the input utterance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluPredictionModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/predict/domain/{domainId}/batch":{"get":{"tags":["Predict-Api"],"summary":"Predict All Batch","description":"Apply intents, entities, and classifiers to make NLU predictions for a batch of utterances in a given domain.  Parameters should be encoded as per url query specification. Intended for testing purposes and not during conversations.","operationId":"getBatchPredictions","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"utterances","in":"query","description":"The batch of utterances on which to make predictions","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"promptEntityId","in":"query","description":"Optional primary key of an entity to emulate Amelia's behavior on an \"ask for the slot ...\" task","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"intentId","in":"query","description":"Optional primary key of an intent to be used to constrain entity predictions, such as for testing the scoping of entities to intents when no intent classifier is available.","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"usePredictedDomain","in":"query","description":"Optional, determines whether to use predicted domain or not during FAQ prediction","required":false,"schema":{"type":"boolean"}},{"name":"language","in":"query","description":"Optional language to signal translation should be done to the selected domain's language. (ex. 'ja' or 'ja_JP')","required":false,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"NLU predictions for the batch of input utterances","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NluPredictionModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Predict-Api"],"summary":"Predict All Batch","description":"Apply intents, entities, and classifiers to make NLU predictions for a batch of utterances in a given domain.  Intended for testing purposes and not during conversations.","operationId":"postBatchPredictions","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"utterances","in":"query","description":"The batch of utterances on which to make predictions","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"promptEntityId","in":"query","description":"Optional primary key of an entity to emulate Amelia's behavior on an \"ask for the slot ...\" task","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"intentId","in":"query","description":"Optional primary key of an intent to be used to constrain entity predictions, such as for testing the scoping of entities to intents when no intent classifier is available.","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"usePredictedDomain","in":"query","description":"Optional, determines whether to use predicted domain or not during FAQ prediction","required":false,"schema":{"type":"boolean"}},{"name":"language","in":"query","description":"Optional language to signal translation should be done to the selected domain's language. (ex. 'ja' or 'ja_JP')","required":false,"schema":{"type":"string"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"NLU predictions for the batch of input utterances","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NluPredictionModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/predict/domain/body/{domainId}":{"post":{"tags":["Predict-Api"],"summary":"Predict All (body)","description":"Apply intents, entities, and classifiers to make NLU predictions for an utterance in a given domain. Uses a JSON body instead of query parameters; this is the preferred method for most cases. Intended for testing purposes and not during conversations.","operationId":"postPredictionsBody","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Command"}}},"required":true},"responses":{"200":{"description":"NLU predictions for the input utterance","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NluPredictionModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/predict/domain/body/{domainId}/batch":{"post":{"tags":["Predict-Api"],"summary":"Predict All Batch (body)","description":"Apply intents, entities, and classifiers to make NLU predictions for a batch of utterances in a given domain. Uses a JSON body instead of query parameters; this is the preferred method for most cases. Intended for testing purposes and not during conversations.","operationId":"postBatchPredictionsBody","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain in which to make predictions","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Command"}}},"required":true},"responses":{"200":{"description":"NLU predictions for the batch of input utterances","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NluPredictionModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/nlu/domain/{domainId}":{"get":{"tags":["Training-Api"],"summary":"Get Nlu Configuration","description":"Gets the nlu configuration for a domain","operationId":"getNluConfiguration","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain whose nlu configuration we are getting","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Get a nlu configuration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/NluConfigurationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Training-Api"],"summary":"Save Nlu Configuration","description":"Saves the nlu configuration for a domain","operationId":"savetNluConfiguration","parameters":[{"name":"domainId","in":"path","description":"The primary key of the domain whose nlu configuration we are getting","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluConfigurationModel"}}},"required":true},"responses":{"200":{"description":"Get a nlu configuration","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/NluConfigurationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/nlu-grammar":{"post":{"tags":["Training-Api"],"summary":"Create NLU grammar","description":"Creates NLU grammar","operationId":"createNluGrammarModel","parameters":[{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":true,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluGrammarModel"}}},"required":true},"responses":{"200":{"description":"Resulting NLU grammar","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluGrammarModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/nlu-grammar/{grammarId}":{"post":{"tags":["Training-Api"],"summary":"Update NLU grammar","description":"Updates NLU grammar","operationId":"updateNluGrammarModel","parameters":[{"name":"grammarId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":true,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NluGrammarModel"}}},"required":true},"responses":{"200":{"description":"Updated NLU grammar","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/NluGrammarModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/nlu-grammar/uploadFile/{domainId}":{"post":{"tags":["Training-Api"],"summary":"Import all NLU grammar in domain","description":"Imports all NLU grammar content in domain","operationId":"uploadNluGrammarFile","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":true,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"File to import"}},"required":["file"]}}}},"responses":{"200":{"description":"Imports all NLU grammar","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/NluGrammarValidationModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/{intentId}":{"get":{"tags":["Intents-Api"],"summary":"Get Intent by id","description":"Gets a specific Intent by its id","operationId":"getIntentModelById","parameters":[{"name":"intentId","in":"path","description":"The primary key of the Intent","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Get an IntentModel","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IntentModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"post":{"tags":["Intents-Api"],"summary":"Update Intent","description":"Updates an Intent","operationId":"updateIntentModel","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntentModel"}}},"required":true},"responses":{"200":{"description":"Updates an Intent ","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IntentModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}},"delete":{"tags":["Intents-Api"],"summary":"Delete Intent","description":"Deletes an Intent","operationId":"deleteIntentModel","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Delete an Intent ","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IntentModel"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/{intentId}/utterances/delete":{"post":{"tags":["Intents-Api"],"summary":"Delete Intent Utterances","description":"Deletes Utterances from and Intent","operationId":"deleteIntentModelUtterances","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The ids of utterances to delete","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"Delete Utterances from an Intent ","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/{intentId}/utterances/add":{"post":{"tags":["Intents-Api"],"summary":"Add Intent Utterances","description":"Adds all Utterances for an Intent","operationId":"addIntentModelUtterances","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The Intent to create","items":{"$ref":"#/components/schemas/IntentUtteranceModel"}}}},"required":true},"responses":{"200":{"description":"Add Utterances for an Intent ","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IntentUtteranceModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/{intentId}/responses/delete":{"post":{"tags":["Intents-Api"],"summary":"Delete Intent Responses","description":"Delets Responses from an Intent","operationId":"deleteIntentModelResponses","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The ids of responses to delete","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"Delete Responses from an Intent ","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/{intentId}/responses/add":{"post":{"tags":["Intents-Api"],"summary":"Add Intent Responses","description":"Add Responses to an Intent","operationId":"addIntentModelResponses","parameters":[{"name":"intentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The Intent to create","items":{"$ref":"#/components/schemas/IntentUtteranceModel"}}}},"required":true},"responses":{"200":{"description":"List of Intent Responses ","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IntentUtteranceModel"}}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/paraphrases/{domainId}/":{"post":{"tags":["Intents-Api"],"operationId":"getIntentParaphrases","parameters":[{"name":"domainId","in":"path","description":"The primary key of a domain","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/api/v1/admin/training/intents/domain/{domainId}/import":{"post":{"tags":["Intents-Api"],"summary":"Import Intents","description":"Imports a tsv file to import in bulk","operationId":"importIntentsTsv","parameters":[{"name":"domainId","in":"path","description":"The domain into which to import the intents","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"strategy","in":"query","description":"The strategy to parse the imported file","required":false,"schema":{"type":"string","enum":["ADD","MERGE","OVERWRITE"]}},{"name":"fileName","in":"query","description":"The name of the file to upload, omit to use file real name","required":false,"schema":{"type":"string"}},{"name":"file","in":"query","required":true,"schema":{"type":"string","format":"binary"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":true,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"responses":{"200":{"description":"Imports a TSV file","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/IntentModelSearchResults"}}}},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/domain/{domainId}/export":{"post":{"tags":["Intents-Api"],"summary":"Export Intent TSV File","description":"Exports TSV for a Domain or Set of intents","operationId":"exportIntentsTsv","parameters":[{"name":"domainId","in":"path","description":"the primary key of the domain","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Amelia-Rest-Token","in":"header","description":"The temporary access token provided upon initial login","required":false,"schema":{"type":"string","format":"uuid"},"example":"d1b440f8-b039-4283-8558-6c5a814acab8"},{"name":"Authorization","in":"header","description":"The Authorization header for OAuth logins","required":false,"schema":{"type":"string"},"example":"Bearer d1b440f8-b039-4283-8558-6c5a814acab8"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportIntentsTsvCommand"}}},"required":true},"responses":{"200":{"description":"Get a TSV file of Intents"},"400":{"description":"A status and message error, with optional other fields","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}},"410":{"description":"A status and message error, typically when the session or conversation does not exist","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SessionGoneResponse"}}}},"500":{"description":"Unexpected error","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusAndMessageResponse"}}}}}}},"/api/v1/admin/training/intents/":{"
[...]
